
  
<ion-header class="Curve" [translucent]="true">
    <ion-toolbar class="color" color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"><ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="https://pngimg.com/uploads/gps/gps_PNG10.png">
            </div>
          </ion-card-header>
          
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom" *ngIf="(commuterSelector ==1)">Travel Summary</ion-card-title>
            <ion-card-title class="ion-margin-bottom" *ngIf="(sameDropOffLocation == true)&& (commuterSelector ==2)">Travel Summary</ion-card-title>
            <ion-card-title class="ion-margin-bottom" *ngIf="(sameDropOffLocation == false)&& (commuterSelector ==2)">First Passenger</ion-card-title>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Pick-up: </strong>{{firstSummary.pickUp}} </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Drop-off:</strong> {{firstSummary.dropOff}} </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Distance:</strong> {{firstSummary.distance}} </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Duration:</strong>  {{firstSummary.duration}}</ion-card-subtitle>    
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Price: </strong> {{firstSummary.price}}</ion-card-subtitle>
     

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide *ngIf="(sameDropOffLocation == false) && (commuterSelector == 2)">
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="https://pngimg.com/uploads/gps/gps_PNG10.png">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Second Passenger </ion-card-title>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Pick-up: </strong>{{secondSummary.pickUp}} </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Drop-off:</strong> {{secondSummary.dropOff}} </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Distance:</strong> {{secondSummary.distance}} </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-left"><strong style="color: black;">Duration:</strong>  {{secondSummary.duration}}</ion-card-subtitle>
            <!-- <ion-card-subtitle class="ion-text-right">Price: {{secondSummary.price}}</ion-card-subtitle> -->
         
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container">
    <ion-item lines="none" *ngIf="(sameDropOffLocation == false)&& (commuterSelector ==2)">
      <ion-grid>
          <!-- First Passenger Cost -->
          <ion-row class="ion-align-items-center" >
            <ion-col size="3">
              <ion-button color="light" fill="clear">
                <ion-icon slot="icon-only" name="person"></ion-icon>
              </ion-button>
             
            </ion-col>
            <ion-col size="7">
              <ion-label>
                <h4>250.00</h4>
                <small>First Passenger</small>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-button color="light" fill="clear">
                
              </ion-button>
            </ion-col>
            
          </ion-row>
              <!-- Second Passenger Cost -->
          <ion-row class="ion-align-items-center" ç>
            <ion-col size="3">
              <ion-button color="light" fill="clear">
                <ion-icon slot="icon-only" name="people"></ion-icon>
              </ion-button>
              <!-- <img src="https://img.icons8.com/cute-clipart/344/peso-symbol.png">               -->
              
            </ion-col>
            <ion-col size="7">
              <ion-label>
                <h4>250.00</h4>
                <small>Second Passenger</small>
              </ion-label>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-item>
    <!-- Total Cost -->
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <img src="https://img.icons8.com/cute-clipart/344/peso-symbol.png">              
            </ion-button>
           
          </ion-col>
            <ion-col size="7">
            <ion-label>
              <h4>250.00</h4>
              <small>Total Cost</small>
            </ion-label>
          </ion-col>
        
          
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-button expand='block' >Proceed</ion-button>

  </div>

</ion-content>