ion-header.Curve {
  text-align: center;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 50%;
}
ion-card.cards {
  border-radius: 20px;
  position: sticky;
  height: 200px;
  z-index: 1;
}
ion-card.cards-main {
  margin-top: -20px;
  background-color: lightsteelblue;
  border-radius: 20px;
  position: sticky;
  height: auto;
  z-index: 0;
}

ion-img.image-default {
  height: 200px;
  width: 200px;
  align-items: center;
  margin-left: -40px;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}
