<ion-header class="Curve" [translucent]="true">
  <ion-toolbar class="color" color="primary">
    
    <h1><strong>JuTrike!</strong></h1>
    
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card class="cards">
    
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        Wallet
      </ion-card-title>
      <br>
      <ion-img src="../../assets/wallet.svg" class="image-default"></ion-img>
      
    </ion-card-content>
    
  </ion-card>
  <ion-card class="cards-main">

  <ion-card-content class="card-content-main ion-padding" style="display:flex;">
    <div class="icons ion-row">
      <ion-button shape="round"><ion-icon name="card-sharp"></ion-icon></ion-button>
      <ion-button shape="round"><ion-icon name="scan-sharp"></ion-icon></ion-button>
      <ion-button shape="round"><ion-icon name="bag-add-sharp"></ion-icon></ion-button>
      <ion-button shape="round"><ion-icon name="trophy-sharp"></ion-icon></ion-button>
    </div>
  </ion-card-content>
</ion-card>

   <div class="ion-padding">
    <ion-label>
      <p><strong>Recent Activity</strong></p>
    </ion-label>
   </div>
<ion-card>
  <ion-item href="" class="ion-activated">
    <ion-icon name="time-sharp" slot="start"></ion-icon>
    <ion-label> Activity Here <ion-label slot="end">12/12/12</ion-label></ion-label>
  </ion-item>
  <ion-item href="" class="ion-activated">
    <ion-icon name="time-sharp" slot="start"></ion-icon>
    <ion-label> Activity Here <ion-label slot="end">12/12/12</ion-label></ion-label>
  </ion-item>
  <ion-item href="" class="ion-activated">
    <ion-icon name="time-sharp" slot="start"></ion-icon>
    <ion-label> Activity Here <ion-label slot="end">12/12/12</ion-label></ion-label>
  </ion-item>
  <ion-item href="" class="ion-activated">
    <ion-icon name="time-sharp" slot="start"></ion-icon>
    <ion-label> Activity Here <ion-label slot="end">12/12/12</ion-label></ion-label>
  </ion-item>
  <ion-item href="" class="ion-activated">
    <ion-icon name="time-sharp" slot="start"></ion-icon>
    <ion-label> Activity Here <ion-label slot="end">12/12/12</ion-label></ion-label>
  </ion-item>
  <ion-item href="" class="ion-activated">
    <ion-icon name="time-sharp" slot="start"></ion-icon>
    <ion-label> Activity Here <ion-label slot="end">12/12/12</ion-label></ion-label>
  </ion-item>

</ion-card>
</ion-content>
