<ion-content>
  <div class="ion-text-center">
    <ion-img src="../../assets/forgot.svg" class="img1"></ion-img>

  </div>
  <div class="container">
    <div class="form ion-text-center">
      <h2>Reset Password </h2>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="email" placeholder='Email' type="email"></ion-input>
      </ion-item>
      <ion-button expand='block' (click)="resetPassword()">Reset</ion-button>
      <ion-button expand='block' [routerLink]="['/login']" color="warning">Cancel</ion-button>



    </div>
  </div>
</ion-content>