<ion-header class="Curve" [translucent]="true">
    <ion-toolbar class="color" color="primary">
      
      <h1><strong>JuTrike!</strong></h1>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content >


    <ion-card class="cards">
      
      <ion-card-content>
        <ion-card-title class="ion-text-center">
            Put your map here
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-button shape="block" [routerLink]="['/travel-cost']">Book Now</ion-button>
  
  </ion-content>
  