<ion-header class="Curve" [translucent]="true">
  <ion-toolbar class="color" color="primary">
    <h1><strong>JuTrike!</strong></h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item (click)="launchPickUpModal()">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          <div *ngIf="pickUpAddress != null">
            <b>{{pickUpAddress}}</b><br>
          </div>
          <p>Click to enter pick up location</p>
        </ion-label>
      </ion-item>
      <ion-item (click)="launchDropOffModal()" *ngIf="selectDestination == true">
        <ion-icon name="navigate-outline" slot="start"></ion-icon>
        <ion-label>
          <div *ngIf="dropOffAddress != null">
              <b>{{dropOffAddress}}</b><br>
          </div>
            <p>Click to enter drop off location</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

<ion-content class="ion-padding">
  <div class="map-wrapper" style="height: 70%;">
    <div id="map_center">
    <!-- <ion-icon name="pin" size="large" color="danger"></ion-icon> -->
    </div>
    <div id="floating-panel"></div>
    
    <!-- <div id="right-panel" style=""></div> -->
    <div id="homeMap" style="height: 100%;"></div>
    
  </div>
  
</ion-content>
</ion-content>

<ion-card class="cards-main" *ngIf="readyForBooking == true">
  <ion-card-content class="">
    <div class="">
      <ion-label><strong>Distance : </strong><span id="distance"></span></ion-label>
      <ion-label><strong>Travel Time :</strong> <span id="duration"></span></ion-label>
      <ion-button shape="block" [routerLink]="['/travel-cost']">Book Now</ion-button>
    </div>
  </ion-card-content>
</ion-card>   

<!-- Heto yung nag babago -->