<ion-header class="Curve" [translucent]="true">
  <ion-toolbar class="color" color="primary">
    <h1><strong>JuTrike!</strong></h1>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="cards">
    <ion-card-content>
      <ion-card-title class="ion-text-center">
        Account
      </ion-card-title>
      <br>
      <ion-img src="../../assets/user.svg" class="image-default"></ion-img>
    </ion-card-content>  
  </ion-card>
  <ion-card class="cards-main">
  <ion-card-content class="card-content-main ion-padding">
    <ion-card-title> Jhay Ramirez</ion-card-title>
    <ion-card-subtitle style="text-align: justify;">#14 Sampaguita Street,Tuguegarao City</ion-card-subtitle>
    <ion-card-subtitle>09279949474</ion-card-subtitle>
  </ion-card-content>
  <ion-button (click)="presentActionSheet()" class="ion-float-right" shape="round" style="margin-right:10px; margin-bottom:10px">
    <ion-icon name="person-circle" slot="start"></ion-icon>
         <ion-label>Profile <ion-icon name="chevron-down" slot="end"></ion-icon></ion-label>
  </ion-button>
</ion-card>


</ion-content>
