<ion-content>
  <div class="ion-text-center">
      <ion-img src="../../assets/map.svg" class="img1 slide-bck-center"></ion-img>
  </div>
  <div class="container">
    <div class="form ion-text-center">
      <h2>Register </h2>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="name" placeholder='Firstname'></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="middle" placeholder='Middlename'></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="last" placeholder='Lastname'></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="email" type="email" placeholder='Email'></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="phone" type="number" placeholder='Phone Number'></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="password" type="password" placeholder='Password'></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="confirmPassword" type="password" placeholder='Confirm Password' (ionChange)="checkPassword()"></ion-input>
          <ion-text *ngIf="password && !passwordMatch" color="danger">Password Do Not Match!</ion-text>
          <ion-text *ngIf="password && passwordMatch" color="success">Password Match!</ion-text>
      </ion-item>
      <ion-button expand='block' (click)="register()">Register</ion-button>
      <ion-button expand='block' [routerLink]="['/login']" color="warning">Cancel</ion-button>

    </div>
  </div>
</ion-content>